# Ignorar compilaciones y archivos innecesarios
/target/
*.zip
*.jar
*.war
*.log
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Variables locales
.env

# Asegurar que el Maven Wrapper NO sea ignorado
!mvnw
!mvnw.cmd
!.mvn/
