spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://aws-0-us-east-1.pooler.supabase.com:6543/postgres?prepareThreshold=0}
    username: ${DATABASE_USERNAME:postgres.uerkoweysjcsflunegui}
    password: ${DATABASE_PASSWORD:Malua.230225}
    driver-class-name: org.postgresql.Driver

  hikari:
    maximum-pool-size: 5
    minimum-idle: 0
    idle-timeout: 10000
    connection-timeout: 30000
    max-lifetime: 30000
    leak-detection-threshold: 60000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

server:
  port: ${PORT:8080}
  address: 0.0.0.0

logging:
  level:
    root: INFO
    com.museum.backend: INFO

gemini:
  endpoint: "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyC3EqJbS0QPvshKhtPmrV69GN8g6Wlei2d"
  api-key: "AIzaSyC3EqJbS0QPvshKhtPmrV69GN8g6Wlei2d"
